@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

#page{
    margin:0 auto;
}

body{
    font-family:"Noto Sans JP",sans-serif;
    color:#333333;
    margin:0;
}


/*固定ヘッダー*/

#pageHead{
    width:100%;
    height:60px;
    background-color:white;
    position:fixed;
    top:0px;
    left:0px;
    z-index: 10;
}
#pageHead .headerWrap .headerLogo{
    width:125px;
    height:60px;
    float:left;
}

#pageHead .headerWrap .headerLogo .logo{
    margin-left:45px;
}

#pageHead .headerWrap .headerLogo img{
    width:80px;
    height:60px;
}



#pageHead .headerWrap .headerIcons{
    width:200px;
    height:60px;
    float:right;
    background-color: #005bac;
}

#pageHead .headerWrap .headerIcons a{
    float:left;
}

#pageHead .headerWrap .headerIcons img{
    width:60px;
    height:60px;
}

#pageHead img{
    vertical-align: bottom;
}


/*パンくずナビ*/

#page .topicPath{
    font-size:12px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color:#999999;
    width:1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 130px;
    margin-bottom: 25px;
}

#page .topicPath a{
    text-decoration: none;
    color:#999999;
}


/*pageTitle*/


#pageTitle {
    position: relative;
}


#pageTitle .pageTitleImage img{
    width:100%; height:250px;
}



#pageTitle .pageTitleName {
    position: absolute;
    top:20px;
    left:145px;
    width:1000px;
    margin:0 auto;
    color:white;
}

#pageTitle .pageTitleName p{
    font-size:20px;
    line-height:28px;
    margin-bottom: 17px;
}
#pageTitle .pageTitleName h1{
font-size:28px;
line-height:42px;
letter-spacing: 1px;
margin-top: 0px;
}



/*******ここからpageMain*******/

#pageMain{
    width:800px;
    margin:0 auto;
    
}

/**ここからsnsコンテナ***/
#pageMain .snsContainer1 {
    height:100px;
}
#pageMain .snsContainer1 .snsSet{
    width: 145px;
    height:40px;
    position: relative;
    float:right;
    margin-top:30px;
}

#pageMain .snsContainer1 .snsSet:after,
#pageMain .snsContainer2 .snsSet:after{
    display:block;
    content:"";
    clear:both;
}

#pageMain .snsContainer1 .snsSet:before,
#pageMain .snsContainer2 .snsSet:before{
    content:"Share";
    position: absolute;
    top: 4px;
    left: -40px;
    font-size:12px;
    line-height: 20px;
    font-weight: bold;
    color:#666;
}

.fa-facebook-square{
    font-size:28px;
    color:#3C5A99;
    padding-left:20px;
}

.fa-twitter-square{
    font-size:28px;
    color:#1DA1F2;
    padding-left:22px;
}
.fa-linkedin{
    font-size:28px;
    color:#0573B2;
    padding-left:22px;
}
/**ここまでsnsコンテナ***/



#pageMain h1{
    color:#000000;
    font-size:22px;
    line-height:33px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight:500;
    padding-left: 7px;
}

#pageMain h1:before{
    content:"";
    display:inline-block;
    width: 22px;
    height: 25px;
    background-image: url(../../images/pageMain_headerBox.png);
    background-size: cover;
    vertical-align: middle;
    position: relative;
    top: -2px;
    left: -10px;
}



#pageMain .mainText {
    margin-top:30px;
    margin-bottom:40px;
}

#pageMain .mainText p{
    font-size:16px;
    line-height:30px;
}




#pageMain .image1{
    margin-bottom:33px;
}


#pageMain .image1 img{
    width:800px; 
    height:430px;
}
#pageMain .image2 img{
    width:800px; 
    height:520px;
}
    

#pageMain article .image3 {
   width:300px;
    height:70px;
    margin:30px auto 70px;
    text-align: center;
    
}

#pageMain article .image3 .pdf{
    color:white;
    font-size:16px;
    line-height:19px;
    font-weight: lighter;
    background-color:#005bac;
    text-decoration: none;
    display:block;
    padding:16px 23px;
    position: relative;
}

#pageMain article .image3 .pdf:before{
    content:">";
    position: absolute;
    top:30px;
    left:15px;
    font-weight: lighter;
}

#pageMain article .image3 .pdf:after{
    content:'\f1c1';
    font-family:'Font Awesome 5 Free';
    position: relative;
    left: 30px;
    color: red;
    background-color: white;
    top: 1px
  }
  

#pageMain article .image3 .pdf:hover{
    background-color:#005bac;
    opacity: 0.8;
    transition: all 0.7s;
}


/*linkPage*/

.linkPage {
    margin-bottom: 23px;
}
.linkPage .beforePage{
    float:left;
}
.linkPage .afterPage{
    float:right;
}

.linkPage:after{
    content: "";
    clear:both;
    display:block;
}

.linkPage a{
    font-size:16px;
    line-height:30px;
    color:#0c419a;
    text-decoration: none;
    letter-spacing: 1px;
}
.linkPage a:hover{
    
    text-decoration: underline;
}




/*nriTopics*/
#pageMain .nriTopics {
    height: 240px;
    background-color: #DEECF8;
    padding: 25px 0 21px 0;
    box-sizing: border-box;
}

#pageMain .nriTopics .articleListContainer{
    width:757px;
    height:192px;
    margin:0 auto;
}

#pageMain .nriTopics .articleListContainer h2{
    font-size: 16px;
    margin:0 0 17px 0;
}
#pageMain .nriTopics .articleListContainer .articleList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width:757px;
    height:142px;
    text-align: center;
}


#pageMain .nriTopics .articleListContainer .articleList a{
    text-decoration: none;
    display: block;
    color:#0C419A;
    background-color: #FFF;
    border:1px solid #CCC;
}



#pageMain .nriTopics .articleListContainer .articleList .list_a{
    width:238px;
    height:70px;
    padding:21px;    
    box-sizing: border-box;
}
#pageMain .nriTopics .articleListContainer .articleList .list_b{
    width:238px;
    height:50px;
    padding:14px;    
    box-sizing: border-box;
}







#pageMain .snsContainer2 {
    height:213px;
}
#pageMain .snsContainer2 .snsSet{
    width: 145px;
    height:40px;
    position: relative;
    float:right;
    margin-top:56px;
}



/*******ここからpageSub*******/
#pageSub{
    width:1000px;
    margin:0 auto;
}
#pageSub .infoTitle{
    height:85px;
    border-top:2px solid #333;
}

#pageSub .infoTitle h3{
    font-size: 20px;
    margin-top:22px;
}

#pageSub .managementPolicy{
    height:212px;
    border-top:1px#333 dotted;
}
#pageSub .managementPolicy h4{
    margin: 33px 0 10px 0;
}
#pageSub .managementPolicy .managementPolicyContainer {
    height:126px;
    display:flex;
    flex-wrap:wrap;
    align-content: space-around;
}

#pageSub .strongPoint{
    height:172px;
    border-top:1px#333 dotted;
}
#pageSub .strongPoint h4{
    margin: 33px 0 10px 0;
}
#pageSub .strongPoint .strongPointContainer {
    height:85px;
    display:flex;
    flex-wrap:wrap;
    align-content: space-around;
}

#pageSub .guide{
    height:172px;
    border-top:1px#333 dotted;
}
#pageSub .guide h4{
    margin: 33px 0 10px 0;
}
#pageSub .guide .guideContainer {
    height:85px;
    display:flex;
    flex-wrap:wrap;
    align-content: space-around;
}

#pageSub .base{
    height:130px;
    border-top:1px#333 dotted;
    border-bottom:1px#333 dotted;
}
#pageSub .base h4{
    margin: 33px 0 10px 0;
}
#pageSub .base .kyotenContainer {
    height:50px;
    display:flex;
    flex-wrap:wrap;
    align-content: space-around;
}



#pageSub .managementPolicy .managementPolicyContainer a,
#pageSub .strongPoint .strongPointContainer a,
#pageSub .guide .guideContainer a,
#pageSub .base .baseContainer a{
    color:#0c419a;
    font-size:14px;
    line-height:21px;
    text-decoration: none;
    display: block;
    flex-basis: 25%;
}




#pageSub .backPage {
    height:180px;
}

#pageSub .backPage p{
    padding:60px 0 85px 0;
    margin:0;
}
#pageSub .backPage p a{
    text-decoration: none;
    color:#0c419a;
    font-size:16px;
    line-height:30px;
}


#pageSub .managementPolicy .managementPolicyContainer a:hover,
#pageSub .strongPoint .strongPointContainer a:hover,
#pageSub .guide .guideContainer a:hover,
#pageSub .base .baseContainer a:hover,
#pageSub .backPage a:hover{
    text-decoration: underline;
}

/*followUs*/
.followUs{
    width:100%;
    height:90px;
    padding:1px 0;
    border-top:#999999 2px solid; 
    border-bottom:#999999 2px solid; 
    margin-bottom:40px;
}

.followUsContainer{
    width: 323px;
    height:50px;
    margin:8px auto;
}

.followUs p{
    font-size:20px;
    line-height:30px;
    font-weight: bold;
    color:#045BAC;
    font-family:"HelveticaNeue";
    display:inline-block;
    padding-right: 5px;
}

.followUs .snsSet-Big{
display:inline-block;
vertical-align: middle;
}

.big{
    font-size: 33px;
    padding-left: 37px;
}

/*pageLast*/
#pageLast {
    width:1000px;
    margin:0 auto;
}

#pageLast .asideContainer {
    
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-bottom: 72px;
}

#pageLast .asideContainer  .asideA{
    flex-basis: 235px;
    height:325px;
}
#pageLast .asideContainer  .asideB{
    flex-basis: 235px;
    height:50px;
}

#pageLast .asideContainer .asideTitle{
    display: block;
    font-size: 16px;
    line-height: 24px;
    color:#666;
    text-decoration: none;
    font-weight: bold;
    border-top: solid 1px #CCC;
    border-bottom:solid 1px #CCC;
    padding:12px 0;
    margin-bottom: 5px;
    
}
#pageLast .asideContainer a{
    display: block;
    font-size: 14px;
    line-height: 21px;
    color:#666;
    text-decoration: none;
    padding:7px 0;
    margin:1px 0;
}

#pageLast .asideContainer a:hover{
    text-decoration: underline;
}





/*footer*/
#pageFoot{
    width:1000px;
    margin:0 auto 120px;
}

#pageFoot ul {
padding:0;
margin-bottom: 21px;
height:15px;
}
#pageFoot ul:after {
    display: block;
    content:"";
    clear:both;
}

#pageFoot ul li{
    list-style: none;
    float:left;
    border-right:1px solid #CCC;
    padding:0 15px;
    height:15px;
}
#pageFoot ul li:first-child{
    padding:0 15px 0 0;
}
#pageFoot ul li:last-child{
    border-right:none;
    padding:0 0  0 15px ;
}
#pageFoot ul li a{
    color:#999;
    font-size:11px;
    letter-spacing: 0.1px;
    text-decoration: none;
    display: block;
    height:15px;
}


#pageFoot ul li a:hover{
    text-decoration: underline
}

#pageFoot #copyright{
    color:#333;
    font-size:10px;
    line-height:19px;
}


.pageTopScroll{
    width:60px;
    height:60px;
    background-color:#333333;
    position:fixed;
    bottom:0;
    right:0;
}

.fa-angle-up{
color:white;
font-size:60px; 
font-weight: lighter;
padding-left: 12px;
padding-right: 12px;
}



